{% extends "layout.html" %}
{% block body %}
    <div>
        <table class="table table-striped">
            <tr>
                <th>Reviewee</th>
                {% for n in range(1, num_reviewers + 1)%}
                    <th>Reviewer {{ n }}</th>
                {% endfor %}
            </tr>
            {% for reviewee in reviewees %}
                <tr>
                    <td>{{ reviewee }}</td>
                    {% for n in range (num_reviewers) %}
                        <td>{{ (matchings[reviewee])[n] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}